version: "3.9"

services:
  api:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    environment:
      MONGODB_URI: mongodb://mongo:27017/mock-cart
      MONGODB_DB_NAME: mock-cart
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    restart: unless-stopped
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
